# Byte-compiled / optimized / DLL files
__pycache__/
code-record/*
star-record/*
!.gitkeep
*.py[cod]
*$py.class
.vscode/
*fund_morning_star.csv
src/temp_update_*
abnormal
demo/
#outcome/stocks/
output/json/
!output/xlsx/
.env

# C extensions
*.so

# Distribution / packaging
.Python
.DS_Store
build/
develop-eggs/
dist/
