# Byte-compiled / optimized / DLL files
__pycache__/
code-record/*
!.gitkeep
*.py[cod]
*$py.class
.vscode/
*fund_morning_star.csv
abnormal


# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
